.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid rgb(235, 232, 232);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 2;
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 25px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}

.youtube-logo {
  height: 20px;
  padding: 10px;
  cursor: pointer;
}

.middle-section {
  flex: 1;
  display: flex;
  margin-left: 300px;
  margin-right: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  min-width: 300px;
}

.search-bar {
  font-size: 16px;
  border: solid;
  border-width: 1px;
  padding: 3px 15px;
  height: 30px;
  flex: 1;
  border-color: rgb(220, 216, 216);
  border-radius: 2px;
  box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-size: 16px;
}

.search-icon {
  height: 25px;
}
.search-button {
  background-color: rgb(241, 239, 239);
  height: 38px;
  border: solid;
  width: 70px;
  border-color: rgb(220, 216, 216);
  border-width: 1px;
  border-left: none;
  cursor: pointer;
}

.search-button,
.voice-button,
.upload-button,
.youtube-app-button,
.notification-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .tooltip,
.voice-button .tooltip,
.upload-button .tooltip,
.youtube-app-button .tooltip,
.notification-button .tooltip {
  background-color: gray;
  position: absolute;
  color: white;
  padding: 5px 10px;
  font-family: Roboto, Arial;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  border-radius: 2px;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-button:hover .tooltip,
.upload-button:hover .tooltip,
.youtube-app-button:hover .tooltip,
.notification-button:hover .tooltip {
  opacity: 1;
}

.voice-button {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
}
.voice-search-icon {
  height: 24px;
}

.right-section {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upload-button,
.youtube-app-button,
.my-channel-button {
  flex: 1;
  border: none;
  background-color: white;
  cursor: pointer;
}

.notification-button {
  flex: 1;
  border: none;
  background-color: white;
  cursor: pointer;
  position: relative;
}
.notification-num {
  background-color: rgb(167, 13, 13);
  color: white;
  position: absolute;
  top: -3px;
  right: 8px;
  padding: 3px;
  border-radius: 40px;
  font-size: 10px;
  width: 10px;

}
.upload-icon,
.youtube-app-icon,
.notification-icon {
  height: 28px;
}

.channel-pic {
  height: 28px;
  border-radius: 13px;
}
