.sidebar {
  position: fixed;
  top: 55px;
  width: 75px;
  bottom: 0;
  left: 0;
  background-color: white;
  z-index: 5;
}

.sidebar-link {
  height: 76px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-direction: column;
}

.sidebar-link:hover{
  background-color: lightgray;
}

.sidebar-link img {
  height: 25px;
}

.sidebar-link div {
  font-family: Roboto, Arial;
  margin-top: 6px;
  font-size: 10px;
}

